.App {
  text-align: center;
  line-height: calc(140px - 60px);
}

.image-box {
  margin-top: 50px;
  padding: 5px;
  /* height: 60px; */
}

.image-btn {
  cursor: pointer;
  padding: 5px;
  background-color: beige;
  border-radius: 5px;
}

.image-btn:hover {
  background-color: rgb(239, 239, 67);
  border-radius: 5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
